:root {
    --round: 8px;
    --spacing: 5px;
    --unit: 10px;
}
body > * {
    margin: auto;
    background-color: #121212;
}

.content-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
    width: 80%;
    height: auto;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 350;
    overflow: scroll; /* never clip- need to detect with JS */
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--unit);
}

.card {
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--round);
    padding: calc(var(--spacing) * 3) var(--spacing);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    white-space: preserve nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.word {
        background-color: #efefe6;
        color: #121212;
        font-weight: 500;
        transition:
            background-color .65s ease-in-out,
            color .65s ease-in-out;
        &.selected {
            background-color: #5a594e;
            color: #f8f8f8;
        }
    }
    &.category {

    }
}

#category-grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%; /* may be wrong */
    height: min-content;
    margin: auto;
}

.icon {
    --size: auto;
    border-radius: 50%;
    /*
    width: var(--size);
    height: var(--size);
    &.xsm {
        --size: 32px;
    }
    &.sm {
        --size: 64px;
    }
    &.md {
        --size: 128px;
    }
    &.lg {
        --size: 256px;
    }
    &.xlg {
        --size: 512px;
    }
    */
}