:root {
    --unit: 15px;
}

.content-container {
    width: 80%;
    height: auto;
    margin: auto;

}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--unit);
}

.card {
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--unit);
    padding: var(--unit);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    white-space: preserve nowrap;
    &.word {
        background-color: grey;
    }
    &.category {

    }
}

#category-grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%; /* may be wrong */
    height: min-content;
    margin: auto;
}