:root {
    --unit: 15px;
}

.content-container {
    width: 80%;
    height: auto;
    margin: auto;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 350;
    overflow: scroll; /* never clip- need to detect with JS */
}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--unit);
}

.card {
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--unit);
    padding: var(--unit);
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    white-space: preserve nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.word {
        background-color: grey;
        font-weight: 500;
    }
    &.category {

    }
}

#category-grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%; /* may be wrong */
    height: min-content;
    margin: auto;
}